.container {
  border: 1px solid black;
  position: relative;
}
.subcont {
  margin: 50px;
  border: 1px solid black;
  position: static;
}
.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: yellow;
  position: absolute;
  top: 0;
}
.box3 {
  background-color: green;
}
.box4 {
  background-color: blue;
}
.box5 {
  background-color: purple;
}
